# Repaso de DataFrames

In [52]:
import pandas as pd

##### Definimos un DataFrame con dos columnas

In [53]:
data = {
    'Nombre': ['Pedro', 'María', 'Juan', 'Ana', 'Lily'],
    'Edad': [25, 30, 22, 35,17],
    'Puntuación': [85, 90, 88, 78,100]
}
df = pd.DataFrame(data)

#### Imprimimos el dataframe

In [59]:
display(df) # Solo para Jupyter Notebook en Standalone usar print()

  Nombre  Edad  Puntuación
0  Pedro    25          85
1  María    30          90
2   Juan    22          88
3    Ana    35          78
4   Lily    17         100

## Podemos explorar los atributos de DataFrame
[Documentación de la librería](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

In [66]:
print(df.size)
print(df.empty)
print(df.count())

15
False
Nombre        5
Edad          5
Puntuación    5
dtype: int64
0    Pedro
1    María
2     Juan
3      Ana
4     Lily
Name: Nombre, dtype: object
0    25
1    30
2    22
3    35
4    17
Name: Edad, dtype: int64
0     85
1     90
2     88
3     78
4    100
Name: Puntuación, dtype: int64

#### Podemos acceder a cada `Serie` dentro del `DataFrame`

In [70]:
print(df['Nombre'])
print('------   ------   ------   ------   ')
print(df['Edad'])
print('------   ------   ------   ------   ')
print(df['Puntuación'])

0    Pedro
1    María
2     Juan
3      Ana
4     Lily
Name: Nombre, dtype: object
------   ------   ------   ------
0    25
1    30
2    22
3    35
4    17
Name: Edad, dtype: int64
------   ------   ------   ------
0     85
1     90
2     88
3     78
4    100
Name: Puntuación, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

Para saber el tipo de dato que tenemos usamos la función `type()`

In [71]:
print(type(df['Puntuación']))
print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

$$
  \int_0^\infty \frac{x^3}{e^x-1}\,dx = \frac{\pi^4}{15}
$$