# Repaso de DataFrames

In [2]:
import pandas as pd

##### Definimos un DataFrame con dos columnas

In [3]:
data = {
    'Nombre': ['Pedro', 'María', 'Juan', 'Ana', 'Lily'],
    'Edad': [25, 30, 22, 35,17],
    'Puntuación': [85, 90, 88, 78,100]
}
df = pd.DataFrame(data)

#### Imprimimos el dataframe

In [4]:
print(df)

  Nombre  Edad  Puntuación
0  Pedro    25          85
1  María    30          90
2   Juan    22          88
3    Ana    35          78
4   Lily    17         100